<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Write your essay</title>
</head>
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLdULcdrgXEYO0zFtpHolmvOJCNvEjI2bH46V1N0cG4s2AGI2E'); background-repeat: no-repeat; background-size: cover;background-position: center;">
    <div class='container' style="border: 1px solid black; border-radius: 4px;margin-top: 5%; ">
        <form method="POST" action="/predict" style="font-family:  'Pacifico', cursive;">
            <div class="form-group" style="text-align: center;">
                <label for="essay"><h1>ESSAY</h1></label>
                <textarea name="essay" id="essay" cols="20" rows="20" type="text" class="form-control"></textarea>
              </div>
            
            <input type="submit" value="submit" class="btn btn-success" style="margin-bottom: 10px; margin-left: 50%;">
        </form>
    </div>
    
</body>
</html>